<div class="section" *ngIf="myscreenWidth > 430px">
    <div class="headbar">
        <button color="primary" class="button" mat-raised-button [matMenuTriggerFor]="menu">Sort</button>
        <mat-menu #menu="matMenu">
            <button color="primary" mat-menu-item (click)="sortProductsByAscendingPrice()">Ascending</button>
            <button color="primary" mat-menu-item (click)="sortProductsByDescendingPrice()">Descending</button>
        </mat-menu>
        <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="performSearch()">
        <button mat-raised-button color="primary" (click)="openDialog(cartProducts)">Buy</button>
    </div>
    <div class="container">
        <mat-card class="card" *ngFor="let products of cartProducts let i = index">
            <mat-card-title class="title">{{ products.title }}</mat-card-title>
            <img mat-card-image class="image" src="{{ products.imagePath }}">
            <mat-card-content>
                <p>Price: {{ products.price | currency }}</p>
                <p>Total price: {{ products.price * products.quantity | currency}}</p>
                <p>Description: {{ products.content }}</p>
                <p>Quantity: {{ products.quantity }}</p>
                <button class="mbutton" mat-fab color="primary" (click)="increaseQuantity(products)">+</button>
                <button class="mbutton" mat-fab color="warn" (click)="decreaseQuantity(products)">-</button>      
            </mat-card-content>
            <mat-card-actions>
                <button class="fbutton" mat-fab color="primary" (click)="onClick()"><mat-icon class="icon">youtube_searched_for</mat-icon></button>
                <button class="mbutton" mat-fab color="warn" (click)="addToFavourite(products)"><mat-icon class="icon">bookmark</mat-icon></button>
                <button class="lbutton" mat-fab color="warn" (click)="onDelete(i)"><mat-icon class="icon">delete_forever</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="section" *ngIf="myscreenWidth <= 430px">
    <div class="headbar">
        <input type="text" class="search-input2" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="performSearch()">
    </div>
    <div class="headbar2">
        <button mat-raised-button color="primary" (click)="openDialog(cartProducts)">Buy</button>
        <button color="primary" class="button" mat-raised-button [matMenuTriggerFor]="menu">Sort</button>
        <mat-menu #menu="matMenu">
            <button color="primary" mat-menu-item (click)="sortProductsByAscendingPrice()">Ascending</button>
            <button color="primary" mat-menu-item (click)="sortProductsByDescendingPrice()">Descending</button>
        </mat-menu> 
    </div>    
    <div class="container">
        <mat-card class="card" *ngFor="let products of cartProducts let i = index">
            <mat-card-title class="title">{{ products.title }}</mat-card-title>
            <img mat-card-image class="image" src="{{ products.imagePath }}">
            <mat-card-content>
                <p>Price: {{ products.price | currency }}</p>
                <p>Total price: {{ products.price * products.quantity | currency}}</p>
                <p>Description: {{ products.content }}</p>
                <p>Quantity: {{ products.quantity }}</p>
                <button class="mbutton" mat-fab color="primary" (click)="increaseQuantity(products)">+</button>
                <button class="mbutton" mat-fab color="warn" (click)="decreaseQuantity(products)">-</button>      
            </mat-card-content>
            <mat-card-actions>
                <button class="fbutton" mat-fab color="primary" (click)="onClick()"><mat-icon class="icon">youtube_searched_for</mat-icon></button>
                <button class="mbutton" mat-fab color="warn" (click)="addToFavourite(products)"><mat-icon class="icon">bookmark</mat-icon></button>
                <button class="lbutton" mat-fab color="warn" (click)="onDelete(i)"><mat-icon class="icon">delete_forever</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>